@charset "UTF-8";
 /*
    Font-family:
    -Orbitron
    -Ethnocentric

    Colors:
    -#130227
    -#ffffff
    -#00FFFF
    -#8000FF
 */
@font-face {
    font-family: 'Ethnocentric';
    src: url(Ethnocentric\ Rg.otf);
}


*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: px;
}
body{
    background-image: url(imagens/fundo.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}


/*----------------------------------------------------------------------------------------------------------------------------*/

header#navegation{
    display: block;   
    color:white;
    text-align: center;
    border-bottom: 1px solid #00FFFF;
    padding: 20px;
    background: #130227a2;  
}

header > nav > a{
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.884);
    padding: 5px 15px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Orbitron';
    border-radius: 10px;
}
header a:hover{
    color: rgba(255, 255, 255, 0.575);
    transition: 0.3s;
    background-color: #00ffff75;
}
header > nav{
    text-align: center;
    display: inline-block;       
}
/*----------------------------------------------------------------------------------------------------------------------------*/
section#inicio{
    display: block;   
    background: rgba(47, 9, 117, 0.3);
    border-radius: 10px;
    margin: 30px 100px 30px 100px;
    padding: 20px;
    height: 390px;
    box-shadow: 0px 0px 15px #8000FF;
   
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    
}

section#inicio > h1{
    text-align: center;
    font-size: 2.2em;
    color: white;
    font-family: 'Ethnocentric', sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px 8px #00FFFF;
    padding-top: 40px;
    
}
section#inicio > h3{
    color: white;
    font-family: 'Ethnocentric';
    font-weight: lighter;
    text-align: center;
    text-shadow: 1px 1px 8px #00FFFF;
    padding-top: 10px;
}
section#inicio button{
    font-family: 'Orbitron';
    color: #130227a2;
    box-shadow: 0px 0px 8px #00FFFF;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
}
section#inicio button:hover{
    background-color: rgba(255, 255, 255, 0.582);
    cursor: pointer;
}
section#inicio > a{
    display: block;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    cursor: default;
}


/*----------------------------------------------------------------------------------------------------------------------------*/

#sobre-mim{
    color: white;
    text-align: center;
    margin-top: 220px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-shadow: 1px 1px 8px #00FFFF;
}
#sobre-mim > div > h1{
    font-size: 1.2em;
    margin-bottom: 50px;
    font-family: 'Ethnocentric', sans-serif;
    font-weight: lighter;
}
#sobre-mim > div > p{
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Orbitron', sans-serif;
    text-align: justify;
}
div#texto-sobre{
    display: inline-block;
    background-color: #2f097536;
    border-radius: 10px;
    padding: 20px 10px;
    height: 500px;
    box-shadow: 0px 0px 15px #8000FF;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
}
/*----------------------------------------------------------------------------------------------------------------------------*/
#habilidades{
    font-family: 'Ethnocentric', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin-top: 220px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-shadow: 1px 1px 8px #00FFFF;
}
#habilidades > div > h1{
    font-size: 1.2em;
    margin-bottom: 50px;
}
img{
    font-size: 0.8em;
}
.skills{
    display: inline;
    padding-top: 30px;
}
.skills > img{
    background-color: #59497736;
    border-radius: 10px;
    width: 100px;
    box-shadow: 0px 0px 8px #00FFFF;
    
}
.skills > img:hover{
    background-color: rgba(255, 255, 255, 0.13);
    transform: translate(-5px, -5px);
    box-shadow: 2px 2px 8px #00FFFF;
    transition: .3s;
}
div#experiencia{
    display: inline-block;
    background-color: #2f097536;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #8000FF;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
}
/*----------------------------------------------------------------------------------------------------------------------------*/
section#projetos{    
    text-align: center;
    padding: 20px;
    margin-top: 220px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;   
    border-radius: 10px;
    box-shadow: 0px 0px 15px #8000FF;
    background-color: #2f097536;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
}
section#projetos h1, h5{
    text-shadow: 1px 1px 8px #00FFFF;
    color: white;
    font-family: 'Ethnocentric', sans-serif;
    font-weight: lighter;
}

div.projeto{
    display: inline-block;
    padding-top: 50px;
    padding-right: 80px;
    margin: 0 auto;
}
div.projeto a{
    color: white;
    text-decoration: none;
    font-family: 'Orbitron';
    font-size: 0.8em;
    text-shadow: 1px 1px 8px #00FFFF;
}
div.projeto a:hover{
    text-decoration: underline;
}
div.projeto img{
    margin-top: 10px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #00FFFF;
}
div.projeto img.site:hover{
    border-radius: 10px;
    transform: scale(2) translate(10px, 10px);
    transition: 0.5s;
    box-shadow: none;
}
div.projeto img.codigo:hover{
    border-radius: 10px;
    transform: scale(3) translate(10px, -50px);
    transition: 0.5s;
    box-shadow: none;
}


/*----------------------------------------------------------------------------------------------------------------------------*/

section#contatos{
    text-align: center;
    padding: 20px;
    margin-top: 220px;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;   
    border-radius: 10px;
    box-shadow: 0px 0px 15px #8000FF;
    background-color: #2f097536;
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
}
section#contatos h1{
    text-shadow: 1px 1px 8px #00FFFF;
    color: white;
    font-family: 'Ethnocentric', sans-serif;
    font-weight: lighter;
    margin-bottom: 30px;
}
div.contact{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}
div.contact a{
    color: white;
    text-decoration: none;
    font-family: 'Orbitron';
    text-shadow: 1px 1px 6px #00FFFF;
}
div.contact > a > i{
    font-size: 2em;
}
div.contact > a > i:hover{
    transform: scale(1.3);
}

/*----------------------------------------------------------------------------------------------------------------------------*/
footer{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.6em;
}