@charset "UTF-8";
 /*
    Font-family:
    -Orbitron
    -Ethnocentric

    Colors:
    -#130227
    -#ffffff
    -#00FFFF
    -#8000FF
 */
@font-face {
    font-family: 'Ethnocentric';
    src: url(Ethnocentric\ Rg.otf);
}


*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: px;
}
body{
    background-color: #130227;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}


/*----------------------------------------------------------------------------------------------------------------------------*/

header#navegation{
    background-color: rgb(19, 2, 39);
    color:white;
    text-align: center;
    border-bottom: 1px solid #00FFFF;
    padding: 20px;
}

header > nav > a{
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.884);
    padding: 5px 15px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'Orbitron';
    border-radius: 10px;
}
header a:hover{
    color: rgba(255, 255, 255, 0.575);
    transition: 0.3s;
    background-color: #00ffff75;
}
header > nav{
    text-align: center;
    display: inline-block;       
}
/*----------------------------------------------------------------------------------------------------------------------------*/
section#inicio{
    display: block;
    background-color: #2f097536;
    border-radius: 10px;
    margin: 30px 100px 30px 100px;
    padding: 20px;
    height: 420px;
    box-shadow: 0px 0px 15px #8000FF;
}


/*section#inicio > img{
    width: 100px;
    padding-top: 20px;
    margin: 0 auto;
    display: block;
}*/

section#inicio > h1{
    text-align: center;
    font-size: 2.2em;
    color: white;
    font-family: 'Ethnocentric', sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px 8px #00FFFF;
    padding-top: 40px;
}
section#inicio > h3{
    color: white;
    font-family: 'Ethnocentric';
    font-weight: lighter;
    text-align: center;
    text-shadow: 1px 1px 8px #00FFFF;
    padding-top: 10px;
}
section#inicio button{
    box-shadow: 0px 0px 15px #00FFFF;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
}
section#inicio > a{
    display: block;
    margin-top: 80px;
    text-align: center;
    text-decoration: none;
}
section#inicio > a:hover{
    background-color: ;
}
/*----------------------------------------------------------------------------------------------------------------------------*/

#sobre-mim{
    color: white;
    text-align: center;
    padding-top: 220px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 4px #00FFFF;
}
#sobre-mim > div > h1{
    font-size: 1.2em;
    margin-bottom: 50px;
    font-family: 'Ethnocentric', sans-serif;
    font-weight: lighter;
}
#sobre-mim > div > p{
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: ;
    font-family: 'Orbitron', sans-serif;
    text-align: justify;
}
div#texto-sobre{
    display: inline-block;
    background-color: #2f097536;
    border-radius: 10px;
    padding: 20px 10px;
    height: 500px;
    box-shadow: 0px 0px 15px #8000FF;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
#habilidades{
    font-family: 'Ethnocentric', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding-top: 220px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 4px black;
}
#habilidades > div > h1{
    font-size: 1.2em;
    margin-bottom: 50px;
}
img{
    font-size: 0.8em;
}
.skills{
    display: inline;
    padding-top: 30px;
}
.skills > img{
    background-color: #59497736;
    border-radius: 10px;
    width: 100px;
    box-shadow: 0px 0px 15px rgba(104, 13, 207, 0.514);
    
}
.skills > img:hover{
    background-color: rgba(255, 255, 255, 0.13);
    transform: translate(-5px, -5px);
    box-shadow: 0px 3px 15px rgba(104, 13, 207, 0.582);
}
div#experiencia{
    display: inline-block;
    background-color: #2f097536;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #8000FF;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
#projetos{
    font-family: 'Ethnocentric', sans-serif;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding-top: 220px;
    text-shadow: 2px 2px 4px black;
}


/*div#projetos{
    display: inline-block;
    background-color: #095875b2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px black;
}*/

/*----------------------------------------------------------------------------------------------------------------------------*/
footer{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.6em;
}
