*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Press Start 2P';
    src: url(PressStart2P-Regular.ttf) format('truetype');
}
::-webkit-scrollbar{
    width: 0px;
    height: px;
}
body{
    background-image: url('imagens/fundo.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}


/*----------------------------------------------------------------------------------------------------------------------------*/
section#navegation{
    color:white;
}
section#navegation svg{
    width: 35px;  
    height: 35px;
}
.texto-icone{
    opacity: 0;
}
a:hover .texto-icone{
    opacity: 1;
}
section > nav > a{
    text-align: center;
    display: block;
    color: rgba(255, 255, 255, 0.884);
    padding: 5px;
    margin-top: 10px;
    text-decoration: none;
    font-family: "Press Start 2P";
    font-size: 0.5em;
}
section a:hover{
    color: rgba(255, 255, 255, 0.575);
    transition: 0.3s;
    background-color: #095875b2;
    border-radius: 10px
}
section > nav{
    text-align: left;
    display: inline-block;  
    padding-left: 20px;
    position: fixed;       
    top: 50%;
    transform: translateY(-50%);
}
/*----------------------------------------------------------------------------------------------------------------------------*/
section#titulo > h1{
    padding-top: 40px;
    
}
section#titulo > h2{
    padding-top: 20px;
}

section#titulo > h1, h2{
    text-align: center;
    font-size: 1.2em;
    color: white;
    font-family: 'Press Start 2P', system-ui;
    text-shadow: 2px 2px 4px #000;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
section#container{   
    text-align: center;
    padding-top: 30px;
    padding-bottom: 220px;
}
#container > #status{
    background-color: #095875b2;
    border-radius: 10%;
    display: inline-block;
    width: 25vw;
    height: 55vh;
    box-shadow: 0px 0px 12px black;
}
.centralizada{
    display: inline-block;
}

section#container > img{
    width: 150px;
    height: 150px;
}
section#container > p{
    padding-left: 2%;
    color: white;
    font-family: "Press Start 2P";
    font-size: 0.8em;

}
/*----------------------------------------------------------------------------------------------------------------------------*/

#sobre-mim{
    font-family: "Press Start 2P";
    color: white;
    text-align: center;
    padding-top: 30px;
    text-shadow: 2px 2px 4px black;
}
#sobre-mim > div > h1{
    font-size: 1.2em;
    margin-bottom: 50px;
}
#sobre-mim > div > p{
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
}
div#texto-sobre{
    display: inline-block;
    background-color: #095875b2;
    border-radius: 10px;
    padding: 20px 5px;
    height: 500px;
    box-shadow: 0px 3px 15px black;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
#habilidades{
    font-family: "Press Start 2P";
    color: white;
    text-align: center;
    padding-top: 220px;
    text-shadow: 2px 2px 4px black;
}
#habilidades > div > h1{
    font-size: 1.2em;
    margin-bottom: 50px;
}
img{
    font-size: 0.8em;
}
.skills{
    display: inline;
    padding-top: 30px;
}
.skills > img{
    background-color: #094257;
    border-radius: 10px;
    width: 100px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.534);
    
}
.skills > img:hover{
    background-color: rgba(255, 255, 255, 0.13);
    transform: translate(-5px, -5px);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.534);
}
div#experiencia{
    display: inline-block;
    background-color: #095875b2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px black;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
#projetos{
    font-family: "Press Start 2P";
    color: white;
    text-align: center;
    padding-top: 220px;
    text-shadow: 2px 2px 4px black;
}


/*div#projetos{
    display: inline-block;
    background-color: #095875b2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px black;
}*/

/*----------------------------------------------------------------------------------------------------------------------------*/
footer{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 0.6em;
}
